<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GUADAR</title>
</head>
<body>
<form action="/booksSaveOk">
    <h1>GUARDAR BOOKS</h1>
    <div>
        <label for="isbn">Isbn:</label>
        <input type="text" id="isbn" name="isbn">
    </div>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="price">Precio:</label>
        <input type="text" id="price" name="price">
    </div>
    <div>
        <label for="author_id">Author_Id:</label>
        <input type="text" id="author_id" name="authorId">
    </div>
    <button type="submit">Guardar</button>
</form>
</body>
</html>