<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CRUD PARA LA TABLA AUTHORS</h1>
<nav>
    <a href="/authorsList">Mostrar todos los autores</a>
</nav>
<nav>
    <a href="/authorsId">Mostrar autor por ID</a>
</nav>
<nav>
    <a href="/authorsDeleteId">Borrar autor por ID</a>
</nav>
<nav>
    <a href="/authorsSave">Ingresar nuevo autor</a>
</nav>
<nav>
    <a href="/authorsUpdate">Actualizar autor</a>
</nav>
<p></p>
<nav>
    <a href="/">Regresar al inicio</a>
</nav>
</body>
</html>