<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CRUD PARA LA TABLA BOOKS</h1>
<nav>
  <a href="/booksList">Mostrar todos los libros</a>
</nav>

<nav>
  <a href="/booksId">Mostrar libro por ID</a>
</nav>
<nav>
  <a href="/booksDeleteId">Borrar libro por ID</a>
</nav>
<nav>
  <a href="/booksSave">Ingresar nuevo libro</a>
</nav>
<nav>
  <a href="/booksUpdate">Actualizar libro</a>
</nav>
<p></p>
<nav>
    <a href="/">Regresar al inicio</a>
</nav>
</body>
</html>